@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 14.5%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 14.5%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 14.5%;
  --primary: 260 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 97%;
  --secondary-foreground: 260 100% 50%;
  --muted: 0 0% 97%;
  --muted-foreground: 260 100% 60%;
  --accent: 0 0% 97%;
  --accent-foreground: 260 100% 50%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 84% 60%;
  --border: 0 0% 92.2%;
  --input: 0 0% 92.2%;
  --ring: 0 0% 70.8%;
  --radius: 0.625rem;
}

.dark {
  --background: 0 0% 10%;
  --foreground: 0 0% 98.5%;
  --card: 0 0% 15%;
  --card-foreground: 0 0% 98.5%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 260 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 20%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 0 0% 20%;
  --muted-foreground: 260 100% 65%;
  --accent: 0 0% 20%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.6% 60.2%;
  --border: 0 0% 25%;
  --input: 0 0% 25%;
  --ring: 0 0% 43.9%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
